{{ block title }}
    Ergebnis des Wettbewerbs
{{ endblock }}
{{ block content }}

    <style>
        .mgslider-wrapper {
            border-spacing: 10px;
        }
        .mgslider-limit {
            width: 10%;
            min-width: 75px;
            height: 40px;
            margin: 100px;
            text-align: center;
            background: #eee;
            border: 1px solid #888;
        }
        .mgslider-limit, .mgslider-value {
            font-variant-numeric: tabular-nums;
        }
        .mgslider-before {
            height: 16px;
            width: 100%;
            background: #1e5bff;
        }
        .mgslider-feedback {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>

    <style>
      td {
        padding: 5px;
      }

      td.column1 {
        font-weight: bold;
        text-align: left;
      }

      td.column2 {
        text-align: right;
        padding-left: 20px; /* Adjust the padding value as needed */
      }
    </style>

        {{ formfield_errors 'bonus1' }}
        {{ formfield_errors 'bonus2' }}
        {{ formfield_errors 'bonus3' }}
        {{ formfield_errors 'bonus4' }}
        {{ formfield_errors 'bonus5' }}
        {{ formfield_errors 'bonus6' }}
    <p>
        Die Ergebnisse des Wettbewerbs wurden berechnet. Sie haben nun die Möglichkeit über den Bonus für die Gewinner zu
        entscheiden, indem Sie die Gesamtsumme von 10 EUR auf die Gewinner verteilen.
    </p>

    <!-- First outcome -->
    <p>
        <table>
            <tr>
                <th>Erster Platz</th>
                <td>
                    {% if first_color1 == 'green' %}
                    Grün
                    {% elif first_color1 == 'blue' %}
                    Blau
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Zweiter Platz</th>
                <td>
                    {% if second_color1 == 'green' %}
                    Grün
                    {% elif second_color1 == 'blue' %}
                    Blau
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Wettbewerb</th>
                <td>
                    {% if treatment1 == 'control' %}
                        ohne Reservierung
                    {% elif treatment1 == 'treatment' %}
                        mit Reservierung
                    {% endif %}
                </td>
            </tr>
        </table>
    </p>

    <div id="slider1_here"></div>
    <script src="{{ static 'mgslider.js' }}"></script>
    <script>
        $(document).ready(function (event) {
            slider1 = new mgslider("bonus1", 0, 10, 0.01);
            slider1.print(document.getElementById("slider1_here"));
        });
    </script>

    <!-- 2n outcome -->
    <p>
        <table>
            <tr>
                <th>Erster Platz</th>
                <td>
                    {% if first_color2 == 'green' %}
                    Grün
                    {% elif first_color2 == 'blue' %}
                    Blau
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Zweiter Platz</th>
                <td>
                    {% if second_color2 == 'green' %}
                    Grün
                    {% elif second_color2 == 'blue' %}
                    Blau
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Wettbewerb</th>
                <td>
                    {% if treatment2 == 'control' %}
                        ohne Reservierung
                    {% elif treatment2 == 'treatment' %}
                        mit Reservierung
                    {% endif %}
                </td>
            </tr>
        </table>
    </p>

    <div id="slider2_here"></div>
    <script src="{{ static 'mgslider.js' }}"></script>
    <script>
        $(document).ready(function (event) {
            slider2 = new mgslider("bonus2", 0, 10, 0.01);
            slider2.print(document.getElementById("slider2_here"));
        });
    </script>
    <!-- 3rd outcome -->
    <p>
        <table>
            <tr>
                <th>Erster Platz</th>
                <td>
                    {% if first_color3 == 'green' %}
                    Grün
                    {% elif first_color3 == 'blue' %}
                    Blau
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Zweiter Platz</th>
                <td>
                    {% if second_color3 == 'green' %}
                    Grün
                    {% elif second_color3 == 'blue' %}
                    Blau
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Wettbewerb</th>
                <td>
                    {% if treatment3 == 'control' %}
                        ohne Reservierung
                    {% elif treatment3 == 'treatment' %}
                        mit Reservierung
                    {% endif %}
                </td>
            </tr>
        </table>
    </p>

    <div id="slider3_here"></div>
    <script src="{{ static 'mgslider.js' }}"></script>
    <script>
        $(document).ready(function (event) {
            slider3 = new mgslider("bonus3", 0, 10, 0.01);
            slider3.print(document.getElementById("slider3_here"));
        });
    </script>

<!-- 4th outcome -->
    <p>
        <table>
            <tr>
                <th>Erster Platz</th>
                <td>
                    {% if first_color4 == 'green' %}
                    Grün
                    {% elif first_color4 == 'blue' %}
                    Blau
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Zweiter Platz</th>
                <td>
                    {% if second_color4 == 'green' %}
                    Grün
                    {% elif second_color4 == 'blue' %}
                    Blau
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Wettbewerb</th>
                <td>
                    {% if treatment4 == 'control' %}
                        ohne Reservierung
                    {% elif treatment4 == 'treatment' %}
                        mit Reservierung
                    {% endif %}
                </td>
            </tr>
        </table>
    </p>

    <div id="slider4_here"></div>
    <script src="{{ static 'mgslider.js' }}"></script>
    <script>
        $(document).ready(function (event) {
            slider4 = new mgslider("bonus4", 0, 10, 0.01);
            slider4.print(document.getElementById("slider4_here"));
        });
    </script>

<!-- 5th outcome -->
    <p>
        <table>
            <tr>
                <th>Erster Platz</th>
                <td>
                    {% if first_color5 == 'green' %}
                    Grün
                    {% elif first_color5 == 'blue' %}
                    Blau
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Zweiter Platz</th>
                <td>
                    {% if second_color5 == 'green' %}
                    Grün
                    {% elif second_color5 == 'blue' %}
                    Blau
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Wettbewerb</th>
                <td>
                    {% if treatment5 == 'control' %}
                        ohne Reservierung
                    {% elif treatment5 == 'treatment' %}
                        mit Reservierung
                    {% endif %}
                </td>
            </tr>
        </table>
    </p>

    <div id="slider5_here"></div>
    <script src="{{ static 'mgslider.js' }}"></script>
    <script>
        $(document).ready(function (event) {
            slider5 = new mgslider("bonus5", 0, 10, 0.01);
            slider5.print(document.getElementById("slider5_here"));
        });
    </script>

<!-- 6th outcome -->
    <p>
        <table>
            <tr>
                <th>Erster Platz</th>
                <td>
                    {% if first_color6 == 'green' %}
                    Grün
                    {% elif first_color6 == 'blue' %}
                    Blau
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Zweiter Platz</th>
                <td>
                    {% if second_color6 == 'green' %}
                    Grün
                    {% elif second_color6 == 'blue' %}
                    Blau
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Wettbewerb</th>
                <td>
                    {% if treatment6 == 'control' %}
                        ohne Reservierung
                    {% elif treatment6 == 'treatment' %}
                        mit Reservierung
                    {% endif %}
                </td>
            </tr>
        </table>
    </p>

    <div id="slider6_here"></div>
    <script src="{{ static 'mgslider.js' }}"></script>
    <script>
        $(document).ready(function (event) {
            slider6 = new mgslider("bonus6", 0, 10, 0.01);
            slider6.print(document.getElementById("slider6_here"));
        });
    </script>
    {{ next_button }}

{{ endblock }}
