{{ block title }}
    Ergebnis des Wettbewerbs
{{ endblock }}
{{ block content }}

    <style>
        .mgslider-wrapper {
            border-spacing: 10px;
        }

        .mgslider-limit {
            width: 10%;
            min-width: 75px;
            height: 40px;
            margin: 100px;
            text-align: center;
            background: #eee;
            border: 1px solid #888;
        }

        .mgslider-limit, .mgslider-value {
            font-variant-numeric: tabular-nums;
        }

        .mgslider-before {
            height: 16px;
            width: 100%;
            background: #1e5bff;
        }

        .mgslider-feedback {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .mgslider-show {
            text-align: left;
            padding-left: 10px;
        }

    </style>
    <style>
      td {
        padding: 5px;
      }

      td.column1 {
        font-weight: bold;
        text-align: left;
      }

      td.column2 {
        text-align: right;
        padding-left: 20px; /* Adjust the padding value as needed */
      }
    </style>

    {{ formfield_errors 'bonus0' }}
    <p>
        Die Ergebnisse des Wettbewerbs wurden berechnet. Sie haben nun die Möglichkeit über den Bonus für die Gewinner zu
        entscheiden, indem Sie die Gesamtsumme von 10 EUR auf die Gewinner verteilen.
        <table>
            <tr>
                <th>Erster Platz</th>
                <td>
                    {% if first_color == 'green' %}
                    Grün
                    {% elif first_color == 'blue' %}
                    Blau
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Zweiter Platz</th>
                <td>
                    {% if second_color == 'green' %}
                    Grün
                    {% elif second_color == 'blue' %}
                    Blau
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Wettbewerb</th>
                <td>
                    {% if treatment == 'control' %}
                        ohne Reservierung
                    {% elif treatment == 'treatment' %}
                        mit Reservierung
                    {% endif %}
                </td>
            </tr>
        </table>

        {% if first_place %}
        Sie haben den ersten Platz in Ihrer Gruppe gewonnen.
        {% elif second_place %}
        Sie haben den zweiten Platz in Ihrer Gruppe gewonnen.
        {% else %}
        Sie haben nicht gewonnen.
        {% endif %}
        {% if green %}
        Sie gehören zur <b>grünen</b> Gruppe.
        {% else %}
        Sie gehören zur <b>blauen</b> Gruppe.
        {% endif %}

    </p>


    <div id="sliders_here"></div>

    <script src="{{ static 'mgslider.js' }}"></script>

    <script>
        $(document).ready(function (event) {
            slider1 = new mgslider("bonus0", 0, 10, 0.01);
            slider1.print(document.getElementById("sliders_here"));
        });
    </script>

    {{ next_button }}

{{ endblock }}
