{{ block title }}
    Ergebnis des Wettbewerbs
{{ endblock }}
{{ block content }}

    <style>
        .mgslider-wrapper {
            border-spacing: 10px;
        }
        .mgslider-limit {
            width: 10%;
            min-width: 75px;
            height: 40px;
            margin: 100px;
            text-align: center;
            background: #eee;
            border: 1px solid #888;
        }
        .mgslider-limit, .mgslider-value {
            font-variant-numeric: tabular-nums;
        }
        .mgslider-before {
            height: 16px;
            width: 100%;
            background: #1e5bff;
        }
        .mgslider-feedback {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>

    {{ formfield_errors 'bonus0' }}
    <p>
        Die Ergebnisse des Wettbewerbs wurden berechnet. Sie haben nun die Möglichkeit über den Bonus für die Gewinner zu
        entscheiden, indem Sie die Gesamtsumme von 10 EUR auf die Gewinner verteilen.
        {% if treatment == 'control' %}
        Im ausgewählten Wettbewerb wurde der erste Platz <b>nicht</b> für grüne Spieler reserviert.
        {% elif treatment == 'treatment' %}
        Im ausgewählten Wettbewerb wurde der erste Platz für grüne Spieler reserviert.
        {% endif %}

        {% if first_color == 'green' %}
        Der erste Platz ging an einen grünen Spieler.
        {% elif first_color == 'blue' %}
        Der erste Platz ging an einen blauen Spieler.
        {% endif %}

        {% if second_color == 'green' %}
        Der zweite Platz ging an einen grünen Spieler.
        {% elif second_color == 'blue' %}
        Der zweite Platz ging an einen blauen Spieler.
        {% endif %}
        <br>
        {% if first_place %}
        Sie haben den ersten Platz in Ihrer Gruppe gewonnen.
        {% elif second_place %}
        Sie haben den zweiten Platz in Ihrer Gruppe gewonnen.
        {% else %}
        Sie haben nicht gewonnen.
        {% endif %}
        {% if green %}
        Sie gehören zur <b>grünen</b> Gruppe.
        {% else %}
        Sie gehören zur <b>blauen</b> Gruppe.
        {% endif %}

    </p>


    <div id="sliders_here"></div>

    <script src="{{ static 'mgslider.js' }}"></script>

    <script>
        $(document).ready(function (event) {
            slider1 = new mgslider("bonus0", 0, 10, 0.01);
            slider1.print(document.getElementById("sliders_here"));
        });
    </script>

    {{ next_button }}

{{ endblock }}
