{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}

    <p>
        {% if participated %}
        Sie haben sich entschlossen an einem Wettbewerb teilzunehmen. In dem für sie ausgelosten Wettbewerb war
            {% if treatment == 'treatment' %} der erste Platz für grüne Spieler reserviert.
            {% elif treatment == 'control' %} der erste Platz <b>nicht </b> reserviert.
            {% endif %}
        Sie haben {% if first_place %} den <b>ersten Platz</b> gewonnen. {% elif second_place %} den zweiten Platz gewonnen. {% else %} nicht gewonnen. {% endif %} <br>
        Alle Teilnehmenden hatten die Möglichkeit einen Bonus vorzuschlagen. Für Sie wurde unter allen Verteilungen für
        Ihren Wettbewerb mit dem Ergebnis <br>
            Erster Platz: {% if first_color == 'green' %} <b>Grün</b> {% elif first_color == 'blue' %} <b> Blau</b> {% endif %} <br>
            Zweiter Platz: {% if second_color == 'green' %} <b>Grün</b> {% elif second_color == 'blue' %} <b> Blau</b> {% endif %}<br>
        ein Bonus von {{ bonus }} ausgewählt.
        {% else %}
        Sie haben sich dagegen entschieden, an einem Wettbewerb teilzunehmen, oder der gewählte Wettbewerb wurde nicht
        ausgelost. Sie erhalten keinen Bonus.
        {% endif %}
    </p>




{% endblock %}

