{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Auszahlungsseite
{% endblock %}

{% block content %}

    <p>
        {% if participated %}
        Sie haben sich entschlossen an einem Wettbewerb teilzunehmen und {% if first_place %} den <b>ersten Platz</b>
        gewonnen. {% elif second_place %} den zweiten Platz gewonnen. {% else %} nicht gewonnen. {% endif %} <br>

        Alle Teilnehmenden hatten die Möglichkeit einen Bonus für die unterschiedlichen Wettbewerbsergebnisse vorzuschlagen.
        Für Sie wurde unter allen Verteilungen für einen Wettbewerb, in dem
            {% if treatment == 'treatment' %} der erste Platz für grüne Spieler reserviert
            {% elif treatment == 'control' %} der erste Platz <b>nicht </b> reserviert
            {% endif %}
            war und der erste Platz
            {% if first_color == 'green' %} <b>Grün</b> {% elif first_color == 'blue' %} <b> Blau</b> {% endif %}
            und der zweite Platz
            {% if second_color == 'green' %} <b>Grün</b> {% elif second_color == 'blue' %} <b> Blau</b> {% endif %}
            war, ein Bonus von {{ bonus }} ausgewählt.
        {% else %}
        Sie haben sich dagegen entschieden, an einem Wettbewerb teilzunehmen, oder der gewählte Wettbewerb wurde nicht
        ausgelost. Sie erhalten keinen Bonus.
        {% endif %}
    </p>
<style>
  td {
    padding: 5px;
  }

  td.column1 {
    font-weight: bold;
    text-align: left;
  }

  td.column2 {
    text-align: right;
    padding-left: 20px; /* Adjust the padding value as needed */
  }
</style>

<table>
  <tbody>
    <tr>
      <td class="column1">{% if bonus < 0 %}Kosten für Wettbewerb{% else %}Bonus aus Wettbewerb{% endif %}:</td>
      <td class="column2">{{ bonus }}</td>
    </tr>
    <tr>
      <td class="column1">Bonus aus Einschätzung:</td>
      <td class="column2">{{ belief_payout }}</td>
    </tr>
    <tr>
      <td class="column1">Produktionsphase:</td>
      <td class="column2">{{ performance_payout }}</td>
    </tr>
    <tr>
      <td class="column1">Auszahlung:</td>
      <td class="column2">{{ payoff }}</td>
    </tr>
    <tr>
      <td class="column1">Auszahlung + Show-up:</td>
      <td class="column2">{{ payoff_plus_participation_fee }}</td>
    </tr>
  </tbody>
</table>

<br><br><br>
{% next_button %}




{% endblock %}

