{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    End of first part
{% endblock %}

{% block content %}
    <p>
        This is the end of the first part. Thank you for participating!
    </p>
    <p>
        Tomorrow you will receive an invitation to the second part, which will be open between 6 AM and midnight
        (Pacific Time).
    </p>
    <p>
        Please click <a href="{{ completion_url }}" rel="noopener noreferrer">HERE</a>
        to <b>go back to Prolific, proving that you completed this part of the study.</b> Alternatively, you
        can go back to Prolific, and manually enter the following <b>completion code:</b> {{ completion_code }}

    </p>


{% endblock %}


