{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}
    <p> Dear Participant, <br>
        <br>
        Welcome to this study. On the next pages you will learn the instructions for the study
        and try the task you will have to perform later. Then you can decide if you wish to participate
        in the study or not, and in case you choose to participate, the first part starts.
    </p>
    {% next_button %}

{% endblock %}
