{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<style>

.text {
  text-align: justify;
}

</style>
{% endblock %}

{% block title %}
    Teil 2
{% endblock %}

{% block content %}

<div class="text">
    <p>
        Vielen Dank, dass Sie die Übungsrunde abgeschlossen haben.
        In diesem Teil dekodieren Sie wieder Buchstaben- in Zahlenkombinationen. Sie haben nun
        <b>{{ Constants.production_minutes }} Minuten.</b> Zeit, so viele Aufgaben wie möglich zu lösen. Für jede korrekt
        gelöste Aufgabe erhalten Sie {{ Constants.tokens_per_task }}. Für jede Teilnehmer:in gilt: <br>
       <center>Auszahlung = Korrekt dekodierte Aufgaben x 0,2 EUR</center>
        <br>Wenn Sie beispielsweise zehn richtige Antworten gegeben haben, erhalten Sie <br>
        <center>Auszahlung = 10 x 0,2 EUR = 2 EUR</center> <br>
        Ihre Auszahlung wird nicht reduziert, wenn Sie eine falsche Antwort eingeben. <br>
        <b>Sie erfahren erst am Ende des Experiments, wie hoch Ihre Auszahlung ist.</b>

    </p>

    <p> Bitte klicken Sie auf Weiter, um die Aufgabe zu starten. </p>
</div>
    {% next_button %}

{% endblock %}