{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<style>

.text {
  text-align: justify;
}

</style>
{% endblock %}

{% block title %}
    Einschätzung der Übungsrunde
{% endblock %}

{% block content %}

<div class="text">
    <p>
        Bitte schätzen Sie Ihr Ergebnis aus Teil 1 ein. <br><br>
        {% formfield player.belief_performance1 %}
        {% formfield player.belief_relative1 %}
    </p>

    <p> Bitte wählen Sie "Weiter" um fortzufahren. </p>
</div>
    {% next_button %}

{% endblock %}