{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<style>
    .text {
        text-align: justify;
    }

    .figure {
        max-width: 100%;
        height: auto;
        width: 800px; /* Increase the width value as desired */
    }

    .figure img {
        width: 100%; /* Set the width to 100% */
        height: auto;
    }

    .small-image {
    width: 200px !important;  /* Adjust the width value as desired for the smaller image */
    }

    figcaption {
        text-align: center;
    }

    .column {
        float: center;
        width: 100%;
        padding: 5px;
    }

    .row {
        justify-content: center;
    }

    /* Clear floats after image containers */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
{% endblock %}

{% block title %}
    Teil 1
{% endblock %}

{% block content %}
<div class="text">
    <p> In diesem Experiment geht es darum, möglichst viele Buchstabenkombinationen (="Wörter") in Zahlenkombinationen
        zu übertragen. Dafür sehen Sie unten auf der Seite Schlüssel wie in dem folgenden Screenshot zu sehen ist.
    </p>

    <div class="row">
    <div class="column">
        <figure class="figure">
            <img src="{% static 'task.jpg' %}" alt="Example Image">
        </figure>
    </div>
    </div>

    <br><br>
    <p>

        {% if letters_per_word == 2 %}
        In this example the letter “Q” corresponds to the number 779 and “M” to 907, so you have to
        type 779 and 907 into the boxes under the letters, respectively.
        {% elif letters_per_word == 3 %}
        In diesem Beispiel entspricht der Buchstabe "L" der Zahl 995, "R" der Zahl 230 und "O" der Zahl 733. Sie müssen
        also entsprechend 995, 230 und 733 in die jeweilige Box unter den Buchstaben eintragen.
        {% else %}
        In this example the letter “W” corresponds to the number 411, “A” to 133, "F" to 331, and “Z” to 162,
        so you have to type 411, 133, 331, and 162 into the boxes under the letters, respectively.
        {% endif %}
        Sie können Ihre Antwort mithilfe der "Weiter" Schaltfläche eingeben. Wenn auch nur einer der Einträge falsch ist,
        teilt Ihnen der Computer die Anzahl der falschen Einträge mit, aber nicht welche Einträge falsch sind. Sie können
        daraufhin Ihre Einträge korrigieren.
        Sobald Sie ihre Antwort eingegeben haben, wird ihnen ein neues Wort zum Lösen angezeigt. Der
        Lösungsschlüssel wird ebenfalls neu generiert. Dabei wird auch die Reihenfolge der Buchstaben neu gemischt.
    </p>
    <p>
        Wenn ein neues Wort generiert wurde, <b>wird das erste Kästchen aktiv</b> und Sie können die erste Zahl eingeben.
        Der schnellste Weg, um zur nächsten Antwortflächen zu wechseln ist die <b>Tab-Taste</b>. Von der letzten Antwortfläche
        können Sie direkt zur Eingabefläche wechseln und die Enter-Taste drücken. Die Tab-Taste sieht auf ihrem PC wie folgt aus:
    </p>
    <div class="row">
    <div class="column">
        <figure class="figure">
            <img src="{% static 'tab_windows.jpg' %}" alt="Tab" class="small-image">
        </figure>
    </div>
    </div>
    <p>
        Auf der folgenden Seite können Sie die Aufgabe für {{ Constants.trytask_minutes }} Minute üben.
    </p>

</div>

    {% next_button %}

{% endblock %}
