{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<style>

.text {
  text-align: justify;
}

</style>
{% endblock %}

{% block title %}
    Einschätzung der Produktionsrunde
{% endblock %}

{% block content %}

<div class="text">
    <p>
        Bevor Sie weitermachen, möchten wir Sie noch bitten, Ihre bisherige Leistung einzuschätzen. Für jede richtige
        Einschätzung erhalten Sie {{ Constants.belief_payout }} EUR.<br><br>
        {% formfield player.belief_performance2 %} <br>
        Bitte schätzen Sie auch Ihre eigene Leistung im Vergleich zu den anderen Teilnehmern:innen im Experiment ein. Dabei
        bedeutet zum Beispiel ”0-10%”, dass Sie zu den 0-10% Teilnehmern:innen mit den wenigsten gelösten Wörtern gehören,
        während mindestens 90% der Teilnehmer:innen mehr richtige Antworten gegeben haben als Sie. ”41-50%” bedeutet, dass
        mindestens 40% der Teilnehmer:innen weniger richtige Antworten und mindestens 50% mehr richtige Antworten als Sie
        gegeben haben. ”91-100%” bedeutet, dass mindestens 90% weniger richtige Antworten gegeben haben als Sie.
        {% formfield player.belief_relative2 %}
    </p>

    <p> Bitte wählen Sie "Weiter" um fortzufahren. </p>
</div>
    {% next_button %}

{% endblock %}